ЗАДАНИЕ 1

In [5]:
n = float(input("Введите число: "))
square = n*n
square

Введите число: 7

49.0

In [6]:
print('Квадрат числа равен: n')

Квадрат числа равен: n

In [8]:
print('Квадрат числа равен:', square)

Квадрат числа равен: 49.0

ЗАДАНИЕ 2

In [1]:
n = int(input("Введите целое число: "))
a = n-1
b = n+1
c = [a, b]
print(c)

Введите целое число: 7
[6, 8]

ЗАДАНИЕ 3

In [2]:
words = input("Введите слова: ")
word = words.split()
word_clean = [n.lower() for n in word]
word_clean

Введите слова: В лесу родилась ёлочка В лесу она росла

['в', 'лесу', 'родилась', 'ёлочка', 'в', 'лесу', 'она', 'росла']

ЗАДАНИЕ 4

In [3]:
numbers = input("Введите числа: ")
number = numbers.split()
numbera = []

for n in number:
  numbera.append(float(n))
from math import log
L = numbera
L1 = []
for i in L:
    L1.append(log(i)) if i > 0 else L1.append('NONE')
for i in L1:
    print(i)

Введите числа: 5 4.2 -3 7 -5.4 0
1.6094379124341003
1.4350845252893227
NONE
1.9459101490553132
NONE
NONE

ЗАДАНИЕ 5

In [37]:
a = input("Введите имена: ")
b = input("Введите возрасты: ")
ac = a.split()
bc = b.split()
result = [list(tup) for tup in zip(ac, bc)]
print(result) if len(ac) == len(bc) else print('Списки имеют разную длину')

Введите имена: Аня геля
Введите возрасты: 15 45
[['Аня', '15'], ['геля', '45']]

ЗАДАНИЕ 6

In [26]:
numbers = input("Введите числа: ")
number = numbers.split(',')
a = number
print(a)
a.sort()
print(a)

Введите числа: 7, 6, 1, 3, 8, 0, -2
['7', ' 6', ' 1', ' 3', ' 8', ' 0', ' -2']
[' -2', ' 0', ' 1', ' 3', ' 6', ' 8', '7']